@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --border-color: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-montreal);
  --font-serif: var(--font-eb-garamond);
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-neue-montreal);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
